/* FONT */

@font-face {
  font-family: "HankenGrotesk";
  font-display: swap;
  font-weight: 100 900;
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf)
    format("truetype");
}

/* CSS RESET */

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/* VARIABLES */

:root {
  --clr-primary: hsl(262, 100%, 67%);
  --clr-secondary: hsl(241, 81%, 54%);
  --clr-red: hsl(0, 100%, 67%);
  --clr-yellow: hsl(39, 100%, 56%);
  --clr-green: hsl(166, 100%, 37%);
  --clr-blue: hsl(234, 85%, 45%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-purple: hsl(241, 100%, 89%);
  --clr-dark-gray-blue: hsl(224, 30%, 27%);
  --clr-red-bg: hsla(var(--clr-red), 0.1);
  --clr-yellow-bg: hsla(var(--clr-yellow), 0.1);
  --clr-green-bg: hsla(var(--clr-green), 0.1);
  --clr-blue-bg: hsla(var(--clr-blue), 0.1);
  --clr-dark-blue-bg: hsla(var(--clr-dark-gray-blue), 0.1);

  --gradient-primary: linear-gradient(var(--clr-primary), var(--clr-secondary));

  --ff-default: "HankenGrotesk";

  --fw-regular: 500;
  --fw-medium: 700;
  --fw-bold: 800;

  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 5rem;
}

/* UTILITY CLASSES */

.gradient-light-blue {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.gradient-persian-blue {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

/* GENERAL STYLES */

body {
  font-family: var(--ff-default);
  font-size: var(--fs-400);
  color: var(--clr-dark-gray-blue);
}

@media (min-width: 600px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}

.section-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
}

.button {
  color: var(--clr-white);
  line-height: 1;
  background: var(--clr-dark-gray-blue);
  padding: 1rem 2rem;
  border: 0;
  border-radius: 100vw;
  cursor: pointer;
}

.button:hover,
.button:focus-visible {
  background: var(--gradient-primary);
}

.results-summary {
  max-width: 46rem;
  display: grid;
}

@media (min-width: 600px) {
  .results-summary {
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    box-shadow: 0.5rem 1rem 3rem hsl(224, 30%, 27%, 0.2);
  }
}

.results {
  background: var(--gradient-primary);
  text-align: center;
}
